<H1> CADASTRO DE CLIENTE</H1><br>

<form name="cadClient" action="https://barbershoppi.herokuapp.com/client/" method="POST" target="_blank">
	<label>Nome -- name</label>
	<input type="text" name=name><br>
	<label>CPF (Válido) -- doc</label>
	<input type="text" name=doc><br>
	<label>Nascimento -- birthday</label>
	<input type="text" name=birthday><br>
	<label>Email -- email</label>
	<input type="text" name=email><br>
	<br>
	<button type"submit">Cadastrar</button>
</form>


<H1> CADASTRO DE PROFISSIONAL</H1><br>
<form name="cadUser" action="https://barbershoppi.herokuapp.com/client/" method="POST" target="_blank">
	<label>Nome -- firstName</label>
	<input type="text" name=name><br>
	<label>CPF (Válido) -- doc</label>
	<input type="text" name=doc><br>
	<label>Nascimento -- birthday</label>
	<input type="text" name=birthday><br>
	<label>Email -- email</label>
	<input type="text" name=email><br>
	<label>Password -- password</label>
	<input type="text" name=Password><br>
	<label>RPassword -- valida se é igual ao password</label>
	<input type="text" name=RPassword><br>
	<br>
	<button type"submit">Cadastrar</button>
</form>


<H1> LOGIN DE PROFISSIONAL</H1><br>

<form name="cadUser" action="https://barbershoppi.herokuapp.com/login/" method="POST" target="_blank">
	<label>CPF -- username</label>
	<input type="text" name=username><br>
	<label>SENHA -- password</label>
	<input type="password" name=password><br>
	<button type"submit">ENTRAR</button>
</form>

<H1> LOGIN DE CLIENTE</H1><br>

<form name="cadUser" action="https://barbershoppi.herokuapp.com/login/" method="POST" target="_blank">
	<label>CPF -- username</label>
	<input type="text" name=username><br>
	<label>DATA DE NASCIMENTO -- password</label>
	<input type="text" name=password><br>
	<button type"submit">ENTRAR</button>
</form>


<H1> BUG BOUNTY SEM O BOUNTY</H1><br>

<form name="bug" action="https://barbershoppi.herokuapp.com/bugbounty/" method="POST" target="_blank">
	<label>Nome</label>
	<input type="text" name=name><br>
	<label>Assunto</label>
	<input type="text" name=subject><br>
	<label>Descrição</label>
	<textarea name=description></textarea>
	<br>
	<button type"submit">Enviar Erro</button>
</form>